version: 2
jobs:
  build:
    docker:
    - image: abronan/rust-circleci:latest
    steps:
    - checkout
    - restore_cache:
        key: project-cache
    - run:
        name: Check formatting
        command: |
          rustfmt --version
    - run:
        name: Nightly Build
        command: |
          rustup run nightly rustc --version --verbose
          rustup run nightly cargo --version --verbose
          rustup run nightly cargo build -p roguelike
    - run:
        name: Test
        command: rustup run nightly cargo test -p roguelike
    - save_cache:
        key: project-cache
        paths:
        - "~/.cargo"
        - "./target"
